body {
    font-family: Tahoma;
    background-color: rgb(76, 113, 138);
    text-align: center;
    font-size: 16px;
    margin: 1em auto;
}

label {
    display: block;
    margin: 0.5rem 0;


}

h1 {
    text-align: center;
    color: rgb(39, 70, 39);
}

form {
margin: 0 auto;
max-width: 500px;
min-width: 300px;
width: 60vw;

}

p {
    color: rgb(82, 29, 29);
}


a:hover {
    color: rgb(87, 19, 19);
}

button {
    background-color: rgb(123, 123, 207);
    
    
}